* {
    --bodyBackgroundColor : #e5e5e5;
    --headerBackgroundColor: rgb(41, 41, 41);
    --sectionBackgroundColor: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bodyBackgroundColor);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    background-color: var(--headerBackgroundColor);
    background-image: url("../images/Covid_Header_Background.jpg");
}

header h1 {
    color: white;
    text-shadow: 2px 4px rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
}

header nav {
    padding-bottom: 1em;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2em;   
}

header nav ul a {
    color: lightskyblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 1s ease-out;
}

header nav ul a:hover {
    transition: color 1s ease;
    color: rgba(135, 206, 250, 0.6)
}

h2 {
    color: rgb(6, 62, 97);
    margin-bottom: 15px;
}

hr {
    margin-bottom: 15px;
    opacity: 50%;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: var(--sectionBackgroundColor);
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 4px 8px
}

select {
    width: fit-content;
    padding: 5px;
    height: fit-content;
}

label {
    min-width: 4em;
    margin-bottom: 2px;
    color: rgb(65, 65, 65);
    font-weight: bold;
    padding: 5px;
}

img {
    width: 100%;
}

p {
    line-height: 1.5em;
}

p a {
    color: rgb(6, 62, 97);
    text-decoration: none;
    font-weight: bold;
    transition: color 1s ease-out;
}

p a:hover {
    transition: color 1s ease;
    color: rgba(6, 62, 97, 0.6);
}

.inlineDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.outputDiv {
    text-align: center;
}