* {
    --bodyBackgroundColor : #e5e5e5;
    --headerBackgroundColor: rgba(65, 65, 65, 0.2);
    --footerBackgroundColor: rgba(65, 65, 65, 0.2);
    --sectionBackgroundColor: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--bodyBackgroundColor);
}

.backgroundVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%; 
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: calc(100vh - 173px);
}

header {
    background-color: var(--headerBackgroundColor);
}

header h1 {
    color: rgb(232, 232, 232);
    text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 30px;
}

header nav {
    padding-bottom: 1em;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2em;   
}

header nav ul a {
    color: rgb(232, 232, 232);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 1s ease-out;
}

header nav ul a:hover {
    transition: color 1s ease;
    color: rgba(232, 232, 323, 0.6);
}

h2 {
    color: darkgreen;
    margin-bottom: 15px;
}

hr {
    margin-bottom: 15px;
    opacity: 50%;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: var(--sectionBackgroundColor);
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 4px 8px;
    opacity: 0.4;
    transition: opacity 1s ease-out
}

section:hover {
    transition: opacity 1s ease;
    opacity: 1.0;
}

section p {
    line-height: 1.5em;
}

section p a {
    color: green;
    text-decoration: none;
    font-weight: bold;
    transition: color 1s ease-out;
}

section video {
    max-width: 100%;
}

p a:hover {
    transition: color 1s ease;
    color: rgba(0, 128, 0, 0.6)
}

footer {
    background-color: var(--footerBackgroundColor);
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: auto;
}

footer p {
    color: rgb(232, 232, 232);
    text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

.inlineDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.outputDiv {
    text-align: center;
}

.dropDown::before {
    content: "\25BC  ";
}

.dropDown.clicked::before {
    content: "\25B2  ";
}

.dropContent {
    display: none;
    border-radius: 10px;
}

.dropContent.display {
    display: block;
}

.scrollGallery {
    max-width: 1160px;
}

.scrollImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.scrollImages img {
    width: 800px;
    border-radius: 10px;
}

.scrollGallery[data-animated="true"] {
    overflow: hidden;
    /*white gradient on left and right edge of scrolling content*/
    mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}

/* Cotent inside needs to scroll*/
.scrollGallery[data-animated="true"] .scrollImages {
    width: fit-content;

    flex-wrap: nowrap;

    animation: scroll 45s var(--scrollDirection, forwards) Linear infinite;
}

.scrollGallery[data-direction="right"] {
    --scrollDirection: reverse
}

@keyframes scroll{
    to{
        /*-0.5em to counter gap*/
        transform: translate(calc(-50% - 0.5em));
    }
}